/* FONT */

@font-face {
    font-family: 'DidotLTStd-Bold';
    src: url('../font/DidotLTStd-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'DidotLTStd-Headline';
    src: url('../font/DidotLTStd-Headline.otf') format('truetype');
}

@font-face {
    font-family: 'DidotLTStd-Italic';
    src: url('../font/DidotLTStd-Italic.otf') format('truetype');
}

@font-face {
    font-family: 'DidotLTStd-Ornaments';
    src: url('../font/DidotLTStd-Ornaments.otf') format('truetype');
}

@font-face {
    font-family: 'DidotLTStd-Roman';
    src: url('../font/DidotLTStd-Roman.otf') format('truetype');
}

@font-face {
    font-family: 'Distant_Stroke';
    src: url('../font/Distant_Stroke.otf') format('truetype');
}

@font-face {
    font-family: 'Distant_Stroke_Medium';
    src: url('../font/Distant_Stroke_Medium.otf') format('truetype');
}

@font-face {
    font-family: 'Futura_Std_Medium';
    src: url('../font/Futura_Std_Medium.otf') format('truetype');
}

@font-face {
    font-family: 'FuturaStd-Book';
    src: url('../font/FuturaStd-Book.otf') format('truetype');
}

@font-face {
    font-family: 'FuturaStd-Light';
    src: url('../font/FuturaStd-Light.otf') format('truetype');
}

@font-face {
    font-family: 'EdwardianScriptITC';
    src: url('../font/EdwardianScriptITC.ttf') format('truetype');
}

@font-face {
    font-family: 'Modern_No._20';
    src: url('../font/Modern_No._20.ttf') format('truetype');
}

/* CLASSE FONT */

.didotLTStd-Bold{font-family: DidotLTStd-Bold;}
.didotLTStd-Headline{font-family: DidotLTStd-Headline;}
.didotLTStd-Italic{font-family: DidotLTStd-Italic;}
.didotLTStd-Ornaments{font-family: DidotLTStd-Ornamentsd;}
.didotLTStd-Roman{font-family: DidotLTStd-Roman;}
.distant-Stroke{font-family: Distant_Stroke;}
.distant-Stroke-Medium{font-family: Distant_Stroke_Medium;}
.futuraStd-Book{font-family: FuturaStd-Book;}
.futuraStd-Light{font-family: FuturaStd-Light;}
.edwardianScriptITC{font-family: EdwardianScriptITC;}
.modern-N-20{font-family: Modern_No_20;}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.clearfix{clear:both;}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.center{text-align: center}
.margin-bottom-50{margin-bottom: 50px;}
.margin-top-50{margin-top: 50px;}
.under{display:block;}

/* ======HEADER======= */
header{
    background-color: #fff;
    -moz-box-shadow: 0px 3px 2px 0px #eee;
    -webkit-box-shadow: 0px 3px 2px 0px #eee;
    -o-box-shadow: 0px 3px 2px 0px #eee;
    box-shadow: 0px 3px 2px 0px #eee;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#eee, Direction=180, Strength=2);
}
header .bar-top{background-color: #c51e62;height: 25px;  }
header ul{text-align: right;  }
header ul li{display: inline-block!important;text-transform: uppercase;  }
header nav ul li a{
    color:#231f20;
    border-right: 1px solid #c51260;
    padding: 0 15px!important;
    font-size: 1em;
}
header ul li a:hover{
    color:#c51260;
    background-color: transparent!important;
}

/* ======INDEX======= */

h2 span.votre{
    font-size: 2.625em;
    color:#da1c5c;
    line-height: 55px;
}

h2 span.mariage{
    font-size: 2.250em;
}

h2 span.guadeloupe{
    font-size: 1.438em;
    color:#da1c5c;
}

header .navbar{min-height: 0;}

#main-content{margin-top: 200px;}

#main-content button{
    border: 1px solid #c51260;
    color: #fff;
    background-color: #c51260;
    font-size: 1.2em;
    padding: 5px 35px;
    margin-top: 10px;
    position: relative;
}

#main-content button:hover{
    background-color: #ba2c75;
    color: #fff;
}

#index a button:hover, #index a:hover, #index a {color:#fff!important; text-decoration: none;}

#main-content button:after {
    content: '';
    border: 1px solid #c51260;
    top: 7px;
    left: 7px;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #f2f2f2;
    white-space:nowrap;
}

#formule section.formule .pack button{
    background-color: #fff;
    border: 1px solid #fff;
    color: #c51260;
}

#formule section.formule .pack button:after{
    border: 1px solid #fff;
}

main section{
    display: inline-block;
    vertical-align: top;
}

#index section div, #agence section div{
    background-color: rgba(255,255,255,0.7);
    width:100%;
    /*min-height: 400px;*/
    margin:  auto;
    margin-top: 20px;
}

#index section.index-plus div{padding-bottom: 90px; position: relative;}
#index section.index-plus div.info-guadeloupe{width:93%; position: absolute; top:0; min-height: 400px; background-color: rgba(255,255,255,1);}
#index section.index-plus div.info-guadeloupe p {width: 70%; text-align: center; margin: 0 auto;}
#index section.index-plus div.info-guadeloupe span.close {    padding-top: 0; margin: 15px; color: #c51260; opacity: 1;}
#index section.prestation div{padding-bottom: 125px;}
/*#index section.home-mariage .hidden-txt{display: none;}*/
section.index-plus{
    background-image: url('../images/index-plus.jpg');
    background-repeat: no-repeat;
    height: 100%;
    min-height: 440px;
}

section.index-plus span, section.prestation span{display: block;}

section.index-plus span.index-en, section.prestation span.index-en{
font-size: 8.286em;
color: #c51260;
line-height: 70px;
}

/* ANIATION */

.element {
    -webkit-animation: KEYFRAME-NAME 3s;
    -moz-animation:    KEYFRAME-NAME 3s;
    -o-animation:      KEYFRAME-NAME 3s;
    animation:         KEYFRAME-NAME 3s;
}

@-webkit-keyframes KEYFRAME-NAME {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes KEYFRAME-NAME {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes KEYFRAME-NAME {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes KEYFRAME-NAME {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.element-reverse {
    -webkit-animation: opac 2s;
    -moz-animation:    opac 2s;
    -o-animation:      opac 2s;
    animation:         opac 2s;
}

@-webkit-keyframes opac {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes opac {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes opac {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes opac {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

section.index-plus p, section.prestation p{
    padding-left: 20px;
    padding-top:100px;
}

section.index-plus span.savoir-plus, section.prestation span.savoir-plus{
    font-size: 3.571em;
    color:#c51260;
    line-height: 50px;
    padding-left: 30px;
}

section.index-plus span.guadeloupe{
    font-size: 3.143em;
    color: #c51260;
    line-height: 35px;
    padding-left: 50px;
}

section.date{
background-color: #c51e62;
min-height: 440px;
}

section.date p{
    margin-top:45px;
}

section.date span{
    display: block;
    color: #fff;
}

section.date span.depuis{font-size: 2.929em; line-height: 25px;}
section.date span.date-2009{font-size:1.643em; margin-left: 60px;}
section.date span.event{font-size:1.429em; text-transform: uppercase;}
section.date span.nb-77{font-size:19.500em; line-height: 200px; margin-left: -80px;}
section.date span a{font-size: 1.9em; color:#fff;margin-top: 35px;display:block; padding-left: 40px;}

section.prestation{
    background-image: url('../images/index-prestation.jpg');
    background-repeat: no-repeat;
    min-height: 440px;
}

section.prestation button, section.index-plus button{
    margin-left: 100px;
}

    /* ----slider---- */
    /* ----zone de pictos---- */
    /* ----Organisons votre mariage---- */
    /* ----zone de réalisations---- */

section.qui-sommes-nous h2, #formule h2{
    background: url('../images/tache.png') 0% 100%;
    background-repeat: no-repeat;
}

section.qui-sommes-nous p{
    float: none;
    margin: 0 auto;
    margin-top: 50px;
}

section.qui-sommes-nous p button{
    display: block;
    margin: 0 auto;
}

#index section.qui-sommes-nous h2{background: url('../images/tache.png') 50% 100% no-repeat;}
section.qui-sommes-nous span.qui{font-size: 4.143em; color:#000;}
section.qui-sommes-nous span.sommes-nous{font-size: 3.357em; color:#c51260; line-height: 20px;  padding-left: 200px;}

section.ceremonie{
    background: url('../images/index-ceremonie.jpg') no-repeat;
    min-height: 517px;
}

section.ceremonie div{min-height: 470px; margin-top: 25px;}
section.ceremonie span{display:block;}
section.ceremonie p {padding-top: 150px;margin-right: 30px;}
section.ceremonie span.votre{font-size: 4.857em; color:#c51260; margin-right: 120px;line-height: 50px;}
section.ceremonie span.ceremonie{font-size: 2.500em; color:#c51260; text-transform: uppercase;}
section.ceremonie span.plage{font-size: 2.929em; color:#c51260; text-align: right; margin-right: 150px;line-height: 10px;}
section.ceremonie span.n-1{font-size: 11.786em; color:#c51260;text-align: right;margin-right: 80px; line-height:10px;}

section.conciergerie{background-color: #ba2c75; min-height: 517px; color:#fff;}
section.conciergerie div{
    min-height: 470px;
    margin-top: 25px;
    background: none;
    border: 1px solid #fff;
}

#index section.conciergerie div{background-color: transparent;}
section.conciergerie span{display: block;}
section.conciergerie p{margin-top: 100px;}
section.conciergerie span.la{font-size: 5.125em;}
section.conciergerie span.conciergerie{font-size: 2.313em; border-top:2px solid #fff; border-bottom: 2px solid #fff; width:50%; margin: 0 auto; text-transform: uppercase;}
section.conciergerie span.prestations{font-size: 2.375em; margin-right: 65px;}
section.conciergerie span.n-2{font-size: 10.875em; line-height: 60px;margin-left: 180px;}

section.christina{
    background: url('../images/index-christina.jpg') no-repeat 0 0;
    background-size: cover;
    min-height: 416px;
    position: relative;
}

#index section.christina div{padding: 15px; width:50%; margin: 0; bottom: 15px; position:absolute;}
section.christina h2.christina{font-size: 3.500em; color: #c51260;}
section.christina span.fondatrice{font-size: 1.550em; color: #c51260;}
section.christina span.wedding{font-size: 2.188em; color: #c51260; line-height: 44px;}
section.christina h3 span{color: #c51260; display: block;}
/*section.christina h3{margin-top: 50px;}*/

section.equipe p{padding-top: 50px;}
section.equipe span.equipe{font-size: 3.563em; text-transform: uppercase;}
section.equipe span.pour-vous{font-size:4.063em; line-height: 0;color:#c51260;}
section.equipe span.accompagner{font-size: 2.563em; margin-right: 80px; line-height: 40px;}
section.equipe span.n-3{font-size: 10.875em; line-height: 80px; margin-left: 160px;}

section.equipe{background-color: #f6f6f6; min-height: 420px;}

section.realisation{padding: 0; margin-top: 10px;}
section.realisation div.slide-01{background: url('../images/index-slider-01.jpg'); background-size:cover;}
section.realisation div.slide-02{background: url('../images/index-slider-02.jpg'); background-size:cover;}
section.realisation div.slide-03{background: url('../images/index-slider-03.jpg'); background-size:cover;}
section.realisation div.btn-slide{background-color: transparent; display: none;}
section.realisation .swiper-slide{min-height: 459px;}
#index section.realisation div{min-height: 420px;}

section.realisation h4.maries{text-transform: uppercase; font-size: 2.000em; color: #c51260;}
section.realisation p.infos{font-size: 1.625em; color:#231f20;}
section.realisation p span.tarif{font-size: 1.500em; color:#c51260;}
section.realisation section.infos-maries{padding-top: 150px;}

section.creation{background-color: #c51e62; min-height: 450px;}
section.creation h2{color:#fff; margin-top: 130px;}
section.creation span.quelques{font-size: 2.113em; text-transform: uppercase;}
section.creation span.unes{font-size: 2.875em;line-height: 50px; margin-right: 180px;}
section.creation span.creations{font-size: 1.325em; line-height: 0; text-align: right; margin-right: 50px; margin-top: -7px;}
section.creation span.n-4{font-size: 5.875em; text-align: right; margin-right: 50px; margin-top: 10px;}

.swiper-container{
    min-height: 300px;
}
.hidden_add_admin{
    display: none;
}

/* ======AGENCE======= */

section.agence  h2 {background: url('../images/tache.png') 0% 100%; background-repeat: no-repeat;}
section.agence section.qui-sommes-nous p {padding-top: 50px;}
section.agence p{margin:0; font-size: 1.225em;}
section.agence p button{margin:0;}
section.agence span.sommes-nous{padding-left: 0;}

section.agence section.equipe p.title{background: url('../images/agence-tache.png')  no-repeat 50% 100%; margin-bottom: 100px; margin-top: 50px;}
section.agence section.equipe p{color:#c51260;}
section.agence section.equipe span.equipe{font-size: 5.625em;}
section.agence section.equipe span.pour-vous{font-size:6.375em; line-height: 0;}
section.agence section.equipe span.accompagner{font-size: 4.063em; margin-left:270px; line-height: 120px;}

section.agence section.portrait-christina{background: url('../images/agence-christina.jpg'); min-height: 315px; margin-bottom: 0;}
#agence section.equipe{background-color: transparent;}
#agence section.christina{background:none;background-color: #c51260; min-height: 350px; margin-top: 0;}
#agence section.christina span{color:#fff; text-align: left;}
#agence section.christina h2{background: none;color: #fff;}

#agence section.presentation-christina p{font-size: 1.225em; color:#231f20; line-height: 30px;}
        section.presentation-christina{min-height: 350px; background-color: #f6f6f6; margin-top: 0;}
/*#agence section.equipe-laure{background-color: #c51260; min-height: 283px;}*/
#agence section.equipe-laure div, #agence section.equipe-pascal div{min-height: 240px;}
#agence section.equipe-pascal{background: url('../images/agence-pascal.jpg') no-repeat; min-height: 283px;}
#agence section.equipe-laure{background: url('../images/agence-laure.jpg') no-repeat; min-height: 283px;}
#agence section.equipe-laure h3, #agence section.equipe-pascal h3{font-size: 3.063em; color:#c51260; padding-top: 50px;}
#agence section.equipe-laure h4, #agence section.equipe-pascal h4{font-size: 1.563em; color:#fff;}

#agence section.equipe-pascal h4{color: #c51260;}
#agence section.equipe-laure h4{color: #c51260;}

    /* ----Qui sommes nous---- */

/* ======PRESTATIONS======= */

/*#formule section.formule p{background: url('../images/tache.png') no-repeat 0 100%; width: 50%; margin:0 auto;}*/
#formule section.formule span{display:block;}
#formule section.formule span.nos{font-size: 3.25em; color:#da1c5c;}
#formule section.formule span.prestations{font-size:2.45em; text-transform: uppercase;line-height: 30px;}
#formule section.formule div.pack{width: 80%; text-align: center; color:#fff; padding:25px 0; margin-bottom: 50px;}
#formule section.formule div.formule-01{background-color: #c51260;}
#formule section.formule div.formule-02{background-color: #d91c5c;}
#formule section.formule div.formule-03{background-color: #bb2d76;}
#formule section.formule div.formule-04{background-color: #da1878;}
#formule section.formule span.formule{font-size: 1.9em;}
#formule section.formule span.name{font-size:2em;}
/*#formule section.formule button{ border: 1px solid #fff; margin-bottom: 15px; background-color: #fff; color:#c51260;}*/

#formule section.formule div.pack div{width: 90%; border:1px solid #fff; margin: 0 auto; padding: 20px 0;}
#formule section.formule div.pack p{background: none; width:100%;}

#formule section.engagement span.notre, #formule section.fonctionnement span.notre{font-size: 3.875em; color: #c51260;}
#formule section.engagement span.engagement, #formule section.fonctionnement span.fonctionnement{font-size: 2.438em; line-height: 20px;}
#formule section.engagement h3{background: url("../images/tache.png") no-repeat 0 100%; margin-bottom: 50px;}
#formule section.fonctionnement h3{background: url("../images/formule-tache-fonctionnement.png") no-repeat 100% 100%; margin-bottom: 50px;}
#formule section.engagement p, #formule section.fonctionnement p{margin: 0; line-height: 30px; font-size: 1.313em; width: 75%;}
#formule section.fonctionnement div.txt-right p{display:inline-block;}


#formule section.fonctionnement div.txt-right{text-align: right; width: 100%;}
/*#formule section.fonctionnement p{text-align: justify;}*/
#formule section.fonctionnement button{border: 1px solid #c51260;}
#formule section.fonctionnement .pink{color:#c51260;}
#formule section.fonctionnement .border, #formule section.engagement .border{border: 1px solid #c51260; width:30%; display:inline-block;}

section.popin .border-formule-anthurium{height: 15px;background-color: #c51260;}
section.popin .border-formule-alpinia{height: 15px;background-color: #d91c5c;}
section.popin .border-formule-hibiscus{height: 15px;background-color: #bb2d76;}
section.popin .border-formule-allamanda{height: 15px;background-color: #da1878;}

#main-content #formule section.popin .pack a:hover{color: #c51260;}
#main-content #formule section.popin .pack a:hover{opacity: 0.8;}

section.popin {min-height: 400px;}
section.popin span.close {background: url('../images/formule-close.png') no-repeat 100% 100%; height: 30px; width: 100%;}
section.popinh2{background: url('../images/tache.png') no-repeat 50% 100%;}
section.popin h2 span.formule{font-size: 3em; color: #c51260;}
section.popin h2 span.anthurium, section.popin h2 span.alpinia, section.popin h2 span.hibiscus, section.popin h2 span.allamanda{font-size: 2em; text-transform: uppercase; line-height: 20px;}
section.popin h4.sous-titre-pop{font-size: 1.3em; text-transform: uppercase; color:#c51260; line-height: 50px;}
section.popin span.accroche{font-size: 1.3em; color:#c51260;}
section.popin .forfait h3{color:#c51260;}
section.wrapper-popin{width: 960px; margin: 0 auto;}



.mfp-bg{ background: rgb(246, 246, 246)!important; opacity:0.9; z-index: 999;!important;}
section.info-formule{background-color: #fff; padding: 20px; min-height: 600px;}
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}
    /* ----Alpinia---- */
    /* ----Allamande---- */
    /* ----Rose de porcelaine---- */

/* ======REALISATIONS======= */

section.realisation .hover{visibility: hidden; position:absolute; z-index: 99; padding-top: 50px;}
section.realisation .hover h3{font-size: 6.2em; text-align: center; padding-top: 20px; color:#c51260;}
section.realisation div.hover{width: 75%; background-color: rgba(255,255,255,0.7); min-height: 238px; padding: 20px;}
section.realisation .photo:hover .hover{position:absolute;min-height: 240px; visibility: visible;}
section.realisation div.photo{margin: 25px 0;}
section.realisation div.photo{margin: 0 auto;}

/* ======LIVRE======= */

#livre .cap{text-transform: uppercase; display: inline;}
#livre .date{margin-left: 12px; color : #df81a2; display: inline; font-size: 1.5em;}
.temoignage {padding-bottom: 25px; padding-top: 25px; border-bottom: 2px solid #c5487b;}

#main-content .temoignage button {font-size: 1.3em;  margin-top : 40px;}
.temoignage .right{text-align: right;}
.temoignage h1{line-height: 65px; text-align:center; font-size: 6.8em; background: url('../images/livre-tache.png') no-repeat 50% 100%;}
.temoignage p{padding-bottom: 20px; font-size: 1.3em;}

.temoignage h2{color : #c61e5c;}
.temoignage h1 span{margin-left: 30%;color:  #d91c5c; font-size: 1.0em;}
.temoignage h2 {display: inline;line-height: 2;}
.temoignage:last-of-type{border:none;}



/* ======EVENT_SUPERADMIN======= */

table{
    background-color: #EEEEEE;
    padding: 10px;
}


/* ======EVENT_ADMIN======= */

h2.name{font-size: 10em; color: #c51260;}
h2.name:first-letter{text-transform: uppercase;}
div#getting-started{
    font-size: 2em;
    border-color: #c51260;
    border-style: solid;
    border-width: 1px 0;
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
}
div#getting-started span.round-time{font-size: 2em; color: #fff;}
.admin h2.title{
    background: url('../images/admin-tache-title.png') no-repeat 50% 100%;
    margin: 40px auto;
    text-align: center;
}
.admin h2.title span.votre{color:#c51260; font-size: 1.5em;}
.admin h2.title span.presentation{font-size: 1.5em; text-transform: uppercase; line-height: 50px;}
.admin h2.title .capitelize{text-transform: uppercase;}
.admin .btn-danger{background-color: #c51260; border-radius:20px;}
.admin .planning li{}


.gallery ul{width: 100%;}
.gallery ul li{display: inline-block;width: 30%;}
.gallery ul li p{width: 100%;}
.gallery ul li img{width: 100%;}
.copy-clip{width: 20px;}

.comment li h3, .comment li p{display: inline;}
.comment li p img{display:block;}
.comment li{line-height: 50px;}
.comment li input{float:right; margin: 5px;}

/* ======EVENT======= */

section.evenement h1{line-height: 65px; width:50%; margin: 0 auto; font-size: 5.8em; background: url('../images/livre-tache.png') no-repeat 50% 100%;}
section.evenement span.event{text-transform: uppercase;}
section.evenement span.mon{color:#c51260;}
section.evenement section.event label.id{font-size: 1.5em;}
section.evenement section.event input{width: 50%; border: 1px solid #c51260;}
section.evenement section.event button.connect{margin: 0 auto;}
section.evenement section.event .connect{text-align: center;}
section.evenement section.event .forget{color:#c51260; font-size: 2em; text-decoration: underline;}
section.evenement section.event .forget:hover{color:#000;}
section.evenement div.img-couple{background: url('../images/event-id.jpg') no-repeat 50% 100%; min-height: 272px;}
section.evenement section.info{border-right: 2px solid #c51260; height: 100%;}
section.evenement section.info .pink{color: #c51260;}
section.evenement section.info h2 span.nouvelle{color: #c51260; font-size: 1.200em;}
section.evenement section.info h2 span.votre-page{font-size: 1.100em; text-transform: uppercase; margin-left: 15px;}

section.event{
    display: inline-block;
    max-width: 550px;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    vertical-align: top;
}

section.activite{background-color: #eb1d5d; margin-top: 50px;}
section.activite{color: #fff; padding: 50px;}
section.activite h4{font-size: 2.225em;}
section.delay input{margin: 0 auto; border: 1px solid #c51260; padding:5px;}

.admin .one-actu{border-bottom: 1px solid #c51260;}
.admin textarea{height:34px; background-color: #eac1d5; border:none; border-radius:0; margin: 15px 0;}
.actu form input{display: inline-block; margin-bottom: 15px;}
.actu input[type=submit]{background-color:#c51260; color:#fff; border:none; border-radius:0;}
.actu input{border: 1px solid #c51260; padding: 5px;}
.admin input{margin: 15px 0;}
.actu input[type=submit]{border-radius: 60px; padding: 5px;}

section.planning input[type=text]{border: 1px solid #c51260; padding: 5px; margin: 5px auto;}
section.planning .addButton{display: block; margin: 0 auto; background-color: #c51260; color: #fff; border-radius: 60px; border:none;}
input.delete .btn-danger{border-radius: 60px;}
section.guest form{text-align: center;}
section.guest .email-btn{background-color: #c51260; color:#fff;}
section.guest input{border:1px solid #c51260; padding: 5px;}
section.guest label{font-size: 1.5em;}
.actu input[type=submit]{float:right;}

/* ======CONTACT======= */

section.contact h1{line-height: 65px; width:50%; margin: 0 auto; font-size: 5.8em; background: url('../images/livre-tache.png') no-repeat 50% 100%;}
section.contact span.event{text-transform: uppercase;}
section.contact span.mon{color:#c51260;}
section.contact h4{color:#c51260; text-transform: uppercase;}
section.contact input, section.contact textarea{margin: 20px 0; border: 1px solid #c51260; padding: 5px;}
section.contact section.info{border-right: 2px solid #c51260; height: 100%;}
section.contact form{text-align: center;}
section.contact div.connect input, section.contact div.connect textarea, section.contact button{margin:10px auto; width: 50%;}


/* ======FOOTER======= */

#footer {width:100%; background-color: #c51260; margin: 0; height:80px; margin-top: 20px;}
#footer .left{float: left;}
#footer .right{float: right;}
#footer .right p{display:inline-block;}
#footer {color: #fff;}
#footer p{text-transform: uppercase; font-size: 1.5em; margin-top: 40px; line-height: 0;}

#footer ul{text-align: right; display:inline-block;}
#footer ul li{display: inline-block;}

#footer ul li a i{color:#fff; font-size: 2em; padding: 0 10px;}